.center div{
    height: 100px;
    border: 1px solid violet;
    background-color: wheat;
}
body{
    margin: 0;
    padding: 0;
}
.portfolio-menu{
    text-align: center;
}
.portfolio-menu ul li{
    list-style: none;
    margin: 0;
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid rgb(108, 221, 241);
    cursor: pointer;
    color: white;
}
.portfolio-menu ul li:hover{
    background-color: violet;
    color: white;
}
.portfolio-item{
    width: 100%;
    overflow: hidden;
}
.portfolio-item .item{
    margin: 0 5px;
    width: 300px;
    float: left;
    margin-bottom: 10px;
}
.cust{
    background-image: url(../images/sunset.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}